@model BookLibrary.Models.ViewModels.AlbumDetailViewModel
@using BookLibrary.Models;

@{
    ViewBag.Title = Model.Object.Title;
    ViewBag.PageImage = "/Content/Images/albums/" + Model.Object.ImageFileName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <h4>Tracks</h4>
        @if(Model.NumberOfDiscs > 1)
        {
            for(int idx = 1; idx <= Model.NumberOfDiscs; idx ++)
            {
                <h5><strong>Disc @idx</strong></h5>
                <ol>
                    @foreach(Track track in Model.Object.TrackList.Where(t => t.DiscNumber == idx).OrderBy(t =>t.TrackNumber).ToList())
                    {
                        <li>
                            <a href="/Tracks/Details/@track.Id">@track.Name</a>
                            @if(track.ArtistId != Model.Object.ArtistId)
                            {
                                <span>by <a href="/Artists/Details/@track.ArtistId">@track.Artist.Name</a></span>
                            }
                        </li>
                    }
                </ol>
            }
        }
        else
        {
            <ol>
                @foreach (Track track in Model.Object.TrackList.OrderBy(t => t.TrackNumber).ToList())
                {
                    <li>
                        <a href="/Tracks/Details/@track.Id">@track.Name</a>
                        @if (track.ArtistId != Model.Object.ArtistId)
                        {
                            <span>by <a href="/Artists/Details/@track.ArtistId">@track.Artist.Name</a></span>
                        }
                    </li>
                }
            </ol>
        }
    </div>
    <div class="col-lg-8">
        @if (Model.CategoryStreams.Count() > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Categorization</div>
                <div class="panel-body">
                    @foreach(List<Category> categories in Model.CategoryStreams)
                    {
                        int idx = 0;
                        foreach(Category category in categories)
                        {
                            if (idx > 0)
                            {
                                @:<span>&nbsp;>&nbsp;</span>
                            }
                            <a href="/Categories/Details/@category.Id">@category.Name</a>
                            idx++;
                        }
                        @:<br />
                    }
                </div>
            </div>
        }
                    @if (Model.ArtistDetail != null && Model.ArtistDetail.Details != null && Model.ArtistDetail.Details.Length > 0)
                    {
                        <a name="artist" id="artist"></a>
                        <div class="panel panel-default">
                            <div class="panel-heading">About the Artist</div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                        <a href="#">
                                            <img class="media-object" src="@Model.Object.Artist.Person.DisplayImage" width="150" alt="@Model.Object.Artist.Person.Name">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">@Model.Object.Artist.Person.Name</h4>
                                        @Model.ArtistDetail.Details
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.SimilarProducts.Count() > 0)
                    {
                        <a name="similar" id="similar"></a>
                        <div class="panel panel-default">
                            <div class="panel-heading">Similar Items</div>
                            <div class="panel-body">
                                @{int idx = 0; }
                                <div class="row">
                                    @foreach (Album album in Model.SimilarProducts)
                    {
                                        <div class="col-md-4" style="text-align:center;">
                                            <a href="/Albums/Details/@album.Id">
                                                <img src="~/Content/Images/albums/@album.ImageFileName" width="150" title="@album.Title" alt="@album.Title" /><br />
                                                @album.Title<br />
                                                <span style="color:#999999;">@album.Artist.Name</span>
                                            </a>
                                        </div>
                                        idx += 1;
                                        if (idx % 3 == 0)
                                        {
                                            @:</div><div class="row">
                        }
                    }
                                </div>
                            </div>
                        </div>
                                    }
                    @if (Model.Reviews.Count() > 0)
                    {
                        <a name="reviews" id="reviews"></a>
                        <div class="panel panel-default">
                            <div class="panel-heading">Reviews</div>
                            <div class="panel-body">
                                @foreach (BookLibrary.Models.ServiceModels.Amazon.EditorialReview review in Model.Reviews)
                                {
                                    <p>@Html.Raw(review.Content)</p>
                                    <hr width="90%" />
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Offers.TotalOffers > 0)
                    {
                        <a name="shopping" id="shopping"></a>
                        <div class="panel panel-default">
                            <div class="panel-heading">Shopping Offers <a href="@Model.Offers.MoreOffersUrl" target="_blank">Shop More at Amazon</a></div>
                            <div class="panel-body">
                                @{int idx = 0; }
                                <div class="row">
                                    @foreach (BookLibrary.Models.ServiceModels.Amazon.Offer offer in Model.Offers.OfferList)
                                    {
                                        <div class="col-md-2" style="text-align:center;">
                                            <a href="@Model.Offers.MoreOffersUrl" target="_blank">
                                                <img src="~/Content/Images/albums/@Model.Object.ImageFileName" width="75" alt="@Model.Object.Title" /><br />
                                                @offer.OfferListing.Price.FormattedPrice
                                            </a>
                                        </div>
                                        idx += 1;
                                        if (idx % 6 == 0)
                                        {
                                            @: </div><div class="row">
                            }
                                    }
                                </div>
                            </div>
                        </div>
                                    }
                </div>
            </div>
