@model BookLibrary.Models.ViewModels.SearchViewModel
@using BookLibrary.Models.ViewModels
@using Humanizer
@{
    ViewBag.Title = "Search Results for \"" + Model.Query + "\"";
    ViewBag.PageImage = "/Content/Images/search.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (KeyValuePair<string, List<LibraryObject>> type in Model.Results)
{
    <div class="row">
        <div class="col-md-12">
            <h3>@type.Key.Pluralize() Matching "@Model.Query"</h3>
            @{ int idx = 0; }
            <div class="row">
                @foreach (var item in type.Value)
                {
                    <div class="col-md-2" style="text-align:center;">
                        <a href="/@item.Type.Pluralize()/Details/@item.Id">
                            <img src="@item.Image" width="150" title="@item.Name" alt="@item.Name" /><br />
                            @item.Name
                        </a>
                        @if(item.ByObjects != null && item.ByObjects.Count() > 0)
                        {
                            int bidx = 0;
                            <br />@item.ByObjects[0].ByText
                            foreach (LibraryObjectBy by in item.ByObjects)
                            {
                                if (bidx > 0)
                                {
                                    if (item.ByObjects.Count > 2)
                                    {
                                        @:,
                                        }
                                    @:&nbsp;
            if (bidx == item.ByObjects.Count - 1)
            {
                @:and
                    }
        }
                                <a href="/@by.ByType.Pluralize()/Details/@by.ById">@by.ByValue</a>
                                bidx += 1;
                            }
                        }
                    </div>
                    idx += 1;
                    if (idx % 6 == 0)
                    {
                        @:</div><div class="row">
                    }
                }
            </div>
        </div>
    </div>
                }

