@model BookLibrary.Models.ViewModels.RecentMovieViewModel
@using BookLibrary.Models
@{
    ViewBag.Title = "Recently Added Movies";
    ViewBag.SubTitle = ViewBag.TotalItems + " Total Movies";
    ViewBag.PageImage = "/Content/Images/folder_music_icon.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 pull-right" style="text-align:right;">
        @foreach (string page in ViewBag.Pages)
        {
            @Html.Raw(page);
        }
    </div>
</div>
@if(Model.Today.Count() > 0)
{
    <h3><strong>Today</strong></h3>
    int idx = 0;
    <div class="row">
        @foreach (var movie in Model.Today)
        {

            <div class="col-md-2" style="text-align:center;">
                <a href="/Movies/Details/@movie.Id">
                    <img src="~/Content/Images/movies/@movie.ImageFileName" width="150" title="@movie.Title" alt="@movie.Title" /><br />
                    @movie.Title
                </a>
            </div>
            idx += 1;
            if (idx % 6 == 0)
            {
                @:</div><div class="row">
            }
        }
    </div>
}
@if (Model.Yesterday.Count() > 0)
{
    <h3><strong>Yesterday</strong></h3>
    int idx = 0;
    <div class="row">
        @foreach (var movie in Model.Yesterday)
        {

            <div class="col-md-2" style="text-align:center;">
                <a href="/Movies/Details/@movie.Id">
                    <img src="~/Content/Images/movies/@movie.ImageFileName" width="150" title="@movie.Title" alt="@movie.Title" /><br />
                    @movie.Title
                </a>
            </div>
            idx += 1;
            if (idx % 6 == 0)
            {
                @:</div><div class="row">
            }
        }
    </div>
}
@if (Model.ThisWeek.Count() > 0)
{
    <h3><strong>This Week</strong></h3>
    int idx = 0;
    <div class="row">
        @foreach (var movie in Model.ThisWeek)
        {

            <div class="col-md-2" style="text-align:center;">
                <a href="/Movies/Details/@movie.Id">
                    <img src="~/Content/Images/movies/@movie.ImageFileName" width="150" title="@movie.Title" alt="@movie.Title" /><br />
                    @movie.Title
                </a>
            </div>
            idx += 1;
            if (idx % 6 == 0)
            {
                @:</div><div class="row">
            }
        }
    </div>
}
@if (Model.LastWeek.Count() > 0)
{
    <h3><strong>Last Week</strong></h3>
    int idx = 0;
    <div class="row">
        @foreach (var movie in Model.LastWeek)
        {

            <div class="col-md-2" style="text-align:center;">
                <a href="/Movies/Details/@movie.Id">
                    <img src="~/Content/Images/movies/@movie.ImageFileName" width="150" title="@movie.Title" alt="@movie.Title" /><br />
                    @movie.Title
                </a>
            </div>
            idx += 1;
            if (idx % 6 == 0)
            {
                @:</div><div class="row">
            }
        }
    </div>
}
@if(Model.Older.Count() > 0)
{
    foreach(KeyValuePair<int, List<Movie>> year in Model.Older)
    {
        <h3><strong>@year.Key</strong></h3>
        int idx = 0;
        <div class="row">
            @foreach (var movie in year.Value)
            {

                <div class="col-md-2" style="text-align:center;">
                    <a href="/Movies/Details/@movie.Id">
                        <img src="~/Content/Images/movies/@movie.ImageFileName" width="150" title="@movie.Title" alt="@movie.Title" /><br />
                        @movie.Title
                    </a>
                </div>
                idx += 1;
                if (idx % 6 == 0)
                {
                    @:</div><div class="row">
                }
            }
        </div>
    }
}
<div class="row">
    <div class="col-md-12 pull-right" style="text-align:right;">
        @foreach (string page in ViewBag.Pages)
        {
            @Html.Raw(page);
        }
    </div>
</div>
